

:root{
    --main-color-text-gray:#757575;
    --accent-color-blue: #2196F3; 
    --background-color-white: #FFFFFF;
    --secondary-color-black: #212121;
    --bg-color-sektion: #2F303A;
    --bg-btn-color-white-gray: #F5F4FA;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} 

html{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--main-color-text-gray);
}

img{
    display: block;
    max-height: 100%;
    height: auto;
}

li{
    list-style: none;
}

h1, h2, h3, ul, p{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}




        /* header */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    align-items: center;
    display: flex;
}
            
.header .container{
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav{
    margin-right: auto;
}

.menu{
    display: inline-flex;
    
}

.nav-contact{
    display: inline-flex;
    
}

.nav-text{
    position: relative;
    color: var(--secondary-color-black);
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 50px;
}    

.nav-text:last-child {
    margin-right: 0px;
}

.link-contact{
    margin-right: 50px;
}

.link-contact:last-child{
    margin-right: 0px;
}

.social-item-nav-svg{
    height: 12px;
    width: 16px;
    fill: var(--main-color-text-gray);
    margin-right: 10px;
}

.link-svg:hover .social-item-nav-svg{
    fill: var(--accent-color-blue);
}

.logo{
    font-family: 'raleway', 'sans-serif';
    color: var(--secondary-color-black);
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    margin-right: 100px;
}

.logo-blye{
    color: var(--accent-color-blue);
}

.line{
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;
    border: 1px solid #ECECEC;
}

.phone-svg{
    height: 16px;
    width: 10px;
    fill: var(--main-color-text-gray);
}

.text-nav::after {
    content: "";
    position: absolute; 
    margin-top: 25px;
    border-radius: 2px;
    border: 2px solid var(--accent-color-blue);
    display: block;
    left: 0;
    right: 0;
    background-color: var(--accent-color-blue);
    pointer-events: none;
    opacity: 0;
}

.text-nav:hover::after,
.text-nav:focus::after{
    opacity: 1;
}

.focus-studio::after{
    opacity: 1;
}

.text-nav.focus-studio{
    color: var(--accent-color-blue);
}

        /* link */

.link-galery{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}



.link{
    text-decoration: none;
    color: inherit;
}

.link:focus,
.link:hover{
    color: var(--accent-color-blue);
}

    /* button */
    
.services{
    color: var(--secondary-color-black);
    background-color: var(--bg-btn-color-white-gray);
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px; 
    border: none; 
    outline: none;   
} 

.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button:not(:last-child){
    margin-right: 8px;
}

.services:hover,
.services:focus{
    background-color: var(--accent-color-blue);
    color: var(--background-color-white);
}

    /* main */

.main{
    padding-top: 94px;
    padding-bottom: 94px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.link-galery:hover,
.link-galery:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
}

.photo{
    width: 100%;
}

.photo-item{
    border: 1px solid #EEEEEE;
    width: 370px;
    height: auto;
    margin-top: 50px;
}

.photo-item:not(:nth-child(3n + 1)){
    margin-left: 30px;
}

.photo-item:nth-child(n + 4){
    margin-top: 30px;
}

.containret-text-photo{
    padding: 20px 24px;
}

.text-photo{
    color: var(--secondary-color-black);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-photo-gray{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

    /* footer */

.footer{
    background-color: var(--bg-color-sektion);
    height: 252px;
    padding-top: 60px;
}

.footer .logo{
    color: var(--background-color-white);
}

.address{
    margin-top: 20px;
}

.map{
    color: var(--background-color-white);
}

.contact{
    color: rgba(255, 255, 255, 0.6);
}

.address li{
    margin-bottom: 9px;
}



.link-svg:hover .social-item-nav-svg,
.link-svg:focus .social-item-nav-svg{
    fill: var(--accent-color-blue);
}

.social-item-footer-svg{
    width: 20px;
    height: 20px;
    fill: var(--background-color-white);
}

.social-list-footer{
    margin-left: auto;
    margin-right: auto;
}


.social-link-footer-svg{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.social-footer{
    display: flex;
    margin-top: 20px;
}

.social-link-footer-svg:hover,
.social-link-footer-svg:focus{
    background-color: var(--accent-color-blue);
}

.footer-clases{
    text-transform: uppercase;
    color: var(--background-color-white);
    font-weight: bold;
    font-size: 1.166;
    letter-spacing: 0.03em;
}

.container-footer{
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.box-footer{
    margin-left: 70px;
}